<div class="row">
	<div class="col-xs-12">
		<div class="text-center">
			<%= link_to "<", start_date: @start_date.prev_month %>
			<%= @start_date.strftime("%B %Y") %>
			<%= link_to ">", start_date: @start_date.next_month %>
		</div>
		<div id="my_calender">
			<%= calender(@start_date, @events_by_date) %>
		</div>
	</div>
</div>
