<div class="row">
	<div class="col-xs-12">
		<div id="my_calender">
			<div class="calender_controls text-center">
				<h4>
					<%= link_to start_date: @start_date.prev_month do %>
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<% end %>
					<%= @start_date.strftime("%b %Y") %>
					<%= link_to start_date: @start_date.next_month do %>
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<% end %>
				</h4>	
			</div>
			<%= calender(@start_date, @events_by_date) %>
		</div>
	</div>
</div>
