/* CALENDER STYLES */
#info_tab {
	border: 1px solid #d6d6d6;
	border-radius: 8px;
	padding: 10px;
	-webkit-box-shadow: 0px 1px 35px -1px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 1px 35px -1px rgba(0,0,0,0.44);
	box-shadow: 0px 1px 35px -1px rgba(0,0,0,0.44);
	h3 {
		color: #888;
		font-size: 20px;
	}
	h4 {
		color: #888;
		font-size: 14px;
	}
	p {
		color: #888;
	}
	#txt {
		font-size: 20px;
		color: #888;
	}
}

#my_calender {
		border: 1px solid #d6d6d6;
		border-radius: 8px;
		padding: 10px;
		margin-bottom: 20px; 
		-webkit-box-shadow: 0px 1px 35px -1px rgba(0,0,0,0.44);
		-moz-box-shadow: 0px 1px 35px -1px rgba(0,0,0,0.44);
		box-shadow: 0px 1px 35px -1px rgba(0,0,0,0.44);
	table {
		margin: 0;
	}
	th {
		border: none;
		color: #fff;
	}
	tr {
		border: none;
	}
	td {
		padding: 20px;
		border: none;	
	}

	.active_cell {
		background-color: #DFF0D8;
		a {
			color: #fff;
		}
	}
	.today_cell {
		border: 2px solid #4DB9A5;
	}
	a {
		font-size: 20px;
		color: #888;
		opacity: 0.8;
		position: relative;
  		vertical-align: middle;
		transition: color 0.2s;
		&:hover {
			text-decoration: none;
			color: #000;
		}
	}
	.calender_controls {
		span {
			padding-left: 20px;
			padding-right: 20px;
			vertical-align: top;
		}
		span.glyphicon {
			font-size: 16px;
		}
		h4 {
			color: #888;
		}
		a {
			font-size: 16px;
		}
	}
}

@media (max-width: 500px){
	#my_calender {
		th {
			font-size: 10px;
		}

		td {
			width: 14%;
			padding: 10px 0px 10px 0px;
			a {
				font-size: 10px;
			}
		}
	}
}