/* DAY PLANNER */

.my_day {
	table {
		td {
			height: 60px;
		}
		th {
			width: 20px;
		}
	}
}

/* EVENT FILLER*/

.event_placeholder {
	position: relative;
}

.event_filler {
	z-index: 9999;
	width: 100%;
	background-color: blue;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 0px;
	position: absolute;
	left: 0;
	p {
		padding: 0;
	}
}