/* DAY PLANNER */

.my_day {
	table {
		td {
			height: 60px;
		}
		th {
			width: 20px;
			color: #888
		}
	}
}

.day_icon img {
	height: 50px;
	margin-bottom: 20px;
}

/* EVENT FILLER*/

.event_placeholder {
	position: relative;
}

.event_filler {
	z-index: 9999;
	width: 80%;
	padding: 0px 0px 10px 0px;
	opacity: 0.85;
	position: absolute;
	left: 10%;
	p {
		padding: 0;
		margin-bottom: 0;
	}
}

.small_green_filler {
	padding-bottom: 0px;
	background-color: #a0d18a;
	p {
		display: inline-block;
		margin-bottom: 0px;
		padding-left: 10px;
		font-size: 12px;
		vertical-align: top;
	}
	a {
		font-size: 12px;
	}
}

.small_red_filler {
	padding-bottom: 0px;
	background-color: #f4a6a6;
	p {
		display: inline-block;
		margin-bottom: 0px;
		padding-left: 10px;
		font-size: 12px;
		vertical-align: top;
	}
	a {
		font-size: 12px;
	}
}

.small_yellow_filler {
	padding-bottom: 0px;
	background-color: #eadd64;
	p {
		display: inline-block;
		margin-bottom: 0px;
		padding-left: 10px;
		font-size: 12px;
		vertical-align: top;
	}
	a {
		font-size: 12px;
	}
}

.event_delete_tag {
	float: right;
	padding-right: 10px;
	color: inherit;	
	&:hover {
		text-decoration: none;
		color: #000;
	}
}

.green_filler {
	background-color: #DFF0D8;
	border-left: 2px solid #a0d18a;
	p:first-of-type {
		background-color: #a0d18a;
		padding-left: 10px;
	}
	p:nth-of-type(2) {
		padding-left: 10px;
	}
}

.red_filler {
	background-color: #F2DEDE;
	border-left: 2px solid #f4a6a6;
	p:first-of-type {
		background-color: #f4a6a6;
		padding-left: 10px;
	}
	p:nth-of-type(2) {
		padding-left: 10px;
	}
}

.yellow_filler {
	background-color: #fcf5a9;
	border-left: 2px solid #eadd64;
	p:first-of-type {
		background-color: #eadd64;
		padding-left: 10px;
	}
	p:nth-of-type(2) {
		padding-left: 10px;
	}
}

/* PLANNER */

.planner {
	border: 1px solid #d6d6d6;
	border-radius: 8px;
	padding: 10px;
	-webkit-box-shadow: 0px 1px 35px -1px rgba(0,0,0,0.44);
	-moz-box-shadow: 0px 1px 35px -1px rgba(0,0,0,0.44);
	box-shadow: 0px 1px 35px -1px rgba(0,0,0,0.44);
	margin-bottom: 20px;
	.heading h3 {
		color: #888;
	}
}